[2018-04-16 07:07] vperrinfr opened #3 "Extend the ouput with coordinates ?"
Hi,

Is it a way to extend the output of the model by adding the box coordinates of each object located in the image ?

Thanks a lot

[2018-04-17 21:09] xwu0226 commented on #3
@vperrinfr Thanks for your comment and suggestion! @Nilmeier would you mind to take a look at this request?

[2018-04-20 04:36] nilmeier commented on #3
Created Pull Request
https://github.com/IBM/MAX-Object-Detector/pull/4

[2018-05-02 19:17] #3 closed

[2018-05-02 20:07] vperrinfr commented on #3
Great will test it, right now...

[2018-05-02 20:36] MLnick commented on #3
Did you rebuild the docker container?
On Wed, 2 May 2018 at 16:19, Vincent Perrin <notifications@github.com>
wrote:

[2018-05-02 20:38] vperrinfr commented on #3
I launched that command: 
docker build -t max-tf-object-detection .
 
Vincent PerrinWatson AI Technical Leader - FranceIBM Cloud +33 677 0203 54 mvincent.perrin@fr.ibm.com
 
 
----- Original message -----From: Nick Pentreath <notifications@github.com>To: IBM/MAX-Object-Detector <MAX-Object-Detector@noreply.github.com>Cc: Vincent Perrin <vincent.perrin@fr.ibm.com>, Mention <mention@noreply.github.c

[2018-06-28 18:20] ajbozarth opened #8 "Error when send some images"
When submitting certain images I get the following error:

[code]

I've attached the images that are causing the error

[failures.zip](https://github.com/IBM/MAX-Object-Detector/files/2146422/failures.zip)

[2018-06-29 20:34] ajbozarth opened #9 "Docker container crashes on specific image submit"
I found a stock image that consistently breaks the api docker container. This manifests in a few ways, all of which show no log output including:

- the docker container just dies
- the api stops responding but the docker container is still listed as running (in this case docker itself usually slows down to the point it's non-functional)

The image that consistently causes this behavior is attache

[2018-06-29 21:10] ajbozarth commented on #8
While talking to @djalova I've clarified some of this. In the attached zip only the png's fail. It was also said gif's fail but I don't have any examples. I have also found that though most png's fail that png's I've received from IBM designers don't. I would assume this has to do with how those pngs are exported.

[2018-06-29 22:03] ajbozarth commented on #9
After more research with @djalova we've determined this is caused by docker resource shortage not the model, closing.

[2018-06-29 22:03] #9 closed

[2018-07-02 13:22] #8 closed

[2018-07-19 21:31] ptitzler opened #14 "Kubernetes configuration file: add environment variable for mini-app"
Users can disable the mini-app endpoint by setting environment variable `DISABLE_WEB_APP` to `true`.
We should add this variable to the `object-detector.yaml` configuration file as follows:
[code]
Doing so will not change the default behavior (which is to expose the mini-app) but make it easy for users to do so, by simply changing the value from `false` to `true`.

[2018-07-26 18:40] #14 closed

[2018-07-27 08:40] MLnick opened #18 "Investigate various model options"
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md#coco-trained-models has a few other models that we could make available, either via a Docker build flag or via an API call query parameter (at the cost of significantly increasing the Docker image build time as it would need to pull down multiple models).

In particular, we use the `ssd_mobilene

[2018-07-27 08:41] MLnick commented on #18
cc @djalova @ajbozarth @bdwyer2 @ptitzler

[2018-07-27 16:20] ajbozarth commented on #18
Maybe use both, build time and api flags. The build time flag determines what model(s) to download and the api flag for which of those models to use. Then we can play with different configurations of "default" models to download on build to pick one with a good balance better useful and fast. Just a brainstorming idea.

[2018-08-22 17:21] xwu0226 opened #23 "pip install from requirements.txt"
Example PR:
https://github.com/IBM/MAX-Review-Text-Generator/pull/7

[2018-08-22 22:26] xwu0226 opened #25 "Integration Tests"

[2018-08-22 22:40] bdwyer2 commented on #25
I have PR #24 open for this

[2018-09-04 22:55] feihugis opened #27 "Update the screenshot image in README.md"
The image in README.md needs to be updated, as more request param descriptions and Swagger models help text have been added.

[2018-10-01 20:59] bdwyer2 opened #29 "Switch tests to request"
Use request instead of pycurl for testing

[2018-10-01 21:00] #29 closed

[2018-10-16 23:51] #23 closed

[2018-10-16 23:51] #27 closed

[2018-10-18 16:16] ptitzler opened #31 "Disable embedded sample web app by default"
Currently the MAX microservice exposes a mini sample app by default, which is great for demo/exploration purposes but not so much for production-ish use. We might want to consider changing the default behavior to mirror other optional features, such as CORS support (disabled by default)

[2018-10-19 23:02] ptitzler opened #32 "Add CORS support"
Required (for illustrative purposes) by MAX workshop app https://github.com/CODAIT/max-workshop-app-nodejs.git.

Simple demo example:
 - Instructor can ask attendees to change https://github.com/CODAIT/max-workshop-app-nodejs/blob/master/static/js/webapp.js#L136 to read `url: 'http://localhost:5000/model/predict',`
 - The inference request will fail with error `Failed to load resource: Origin http

[2018-12-04 22:09] cclauss opened #35 "Undefined name 'utils_ops' in core/backend.py"
https://github.com/IBM/MAX-Object-Detector/blob/master/core/backend.py#L84

[flake8](http://flake8.pycqa.org) testing of https://github.com/IBM/MAX-Object-Detector on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2019-01-16 20:01] xwu0226 commented on #18
@SSaishruthi Thanks for taking this.

[2019-01-18 09:44] MLnick commented on #32
#37 should address this since `CORS` is in the `maxfw` and configurable with an env var.

[2019-03-12 00:10] ajbozarth commented on #31
Closing this since changes to the implementation have removed both ability to toggle the app on and off as well as the reason to. Specifically the current implementation always includes the web app in the docker build whether or not it was enabled, so with the move to the max framework the ability to disable it was removed.

[2019-03-12 00:10] #31 closed

[2019-03-12 00:10] ajbozarth commented on #32
Closing this since #37 is merged

[2019-03-12 00:10] #32 closed

[2019-03-12 00:14] ajbozarth commented on #35
@MLnick I just checked and this still exists. Is there a reason this undefined value doesn't break the app? If this is an easy fix we should address it before our 1.1 release

[2019-03-18 22:12] ptitzler opened #42 "Create a demo notebook"
Similar to https://github.com/IBM/MAX-Facial-Emotion-Classifier/blob/master/demo.ipynb.

[2019-03-27 00:28] vabarbosa opened #43 "inconsistent link to COS directory for model files"
the [README](https://github.com/IBM/MAX-Object-Detector/blob/master/README.md) contains this link to the model files:

- http://max-assets.s3-api.us-geo.objectstorage.softlayer.net/object_detection/ssd_mobilenet_v1_coco_2017_11_17.tar.gz

this works. however, it is different than the link in the [Dockerfile](https://github.com/IBM/MAX-Object-Detector/blob/master/Dockerfile):

- http://max-assets.s

[2019-04-03 00:05] kmh4321 commented on #42
Added in #44.

[2019-04-03 00:05] #42 closed

[2019-05-22 17:34] cclauss commented on #35
Dup of #6

[2019-05-22 17:34] #35 closed

[2019-06-07 12:45] cclauss opened #52 "Undefined name 'utils_ops' in ./core/model.py"
Discovered via #53

[flake8](http://flake8.pycqa.org) testing of https://github.com/IBM/MAX-Object-Detector on Python 3.7.1

$ __flake8 . --count --select=E9,F63,F72,F82 --show-source --statistics__
[code]

[2019-07-16 22:50] #43 closed

[2019-07-17 04:12] kwlooi commented on #32
I just ran Module 2 following the labs in the OSCON 2019.  I am still getting the exact same errors.

[2019-07-17 04:14] kwlooi commented on #32
![image](https://user-images.githubusercontent.com/2608386/61346688-a1425c00-a80e-11e9-9367-7c2ae661d97a.png)

[2019-07-17 07:46] vabarbosa commented on #32
@kwlooi did you run the container with the CORS_ENABLE flag?

[code]

[2019-07-17 16:51] kwlooi commented on #32
Thanks for the update.  It works with the CORS_ENABLE flag.  Probably need to update the steps in https://github.com/CODAIT/max-workshop-oscon-2019/tree/master/module_1.

[2019-08-01 01:07] ptitzler opened #62 "Docker image cannot be deployed in RedHat OpenShift due to permission error"
[code]

[2019-08-06 17:48] #62 closed

[2019-08-16 19:21] #52 closed

[2019-09-10 23:09] gdequeiroz commented on #18
@MLnick can we close this?

[2019-09-11 09:24] MLnick commented on #18
I think we still should look at upgrading the model to a newer, better performing version. So let's keep this open for tracking that effort, though it may not be highest priority.

[2019-10-16 22:12] ptitzler opened #71 "Update sample training data"
We need to include a more meaningful data set. It appears that the included images are all identical.

![image](https://user-images.githubusercontent.com/13068832/66962994-62978a00-f027-11e9-9e1b-bae4b15cb4cd.png)

[2019-10-17 05:45] corvy opened #72 "Support for ARM"
Hello, will you add support for ARM CPU so we can run it on for instance Raspberry Pi 4? Is there a guide to build it manually for RPI4? I tried the run locally but it fails due to usage of some prebuilt binaries not supported on arm.

[2019-10-17 06:26] bdwyer2 commented on #72
Hi @corvy it would be awesome to be able to run MAX models on a Raspberry Pi. We would need to change the base image in order to do this and we already have an issue open for that (https://github.com/IBM/MAX-Base/issues/6).

[2019-10-17 06:33] corvy commented on #72
Perfect, thanks for swift reply @bdwyer2.
 Is there any progress on this considering the issue is 10 months old? Is there any way to build this manually that you know of.

[2019-10-17 07:03] bdwyer2 commented on #72
The easiest thing to do would be to install the [requirements](https://github.com/IBM/MAX-Object-Detector/blob/master/requirements.txt) and run the code in this repo directly on the Raspberry Pi outside of Docker.

If you want you can [join our slack workspace](https://join.slack.com/t/model-asset-exchange/shared_invite/enQtNDQ4OTQxODUyMTYwLTI1NzgyMTRlNWE4ZGE3NmQ5ZjJhYjEwZjA3ZmY4NWViN2MxMWJiZjg0Nz

[2019-10-17 08:38] corvy commented on #72
Great, I will do this, but stil I want it on docker as I have other workloads on the same Pi running. This is to become an appliance type device for automation and monitoring of a boat. ⚓🤠

Let me look into it and I will join slack over the next few days.

[2019-10-17 17:47] bdwyer2 commented on #72
Oh cool! What kind of boat? I would love to learn more about what you are doing

[2019-10-18 05:44] corvy commented on #72
I have been using Home Assistant on the boat for a few years. My setup includes the use of Hass.IO, Node-Red, InfluxDB, MQTT, SignalK and ZigBee ZHA. This enable the use of sensors like water leak, vibration, temperature, moisture and various switches. I use Node-Red for automation of the battery charging and solar charge monitoring. There is a Victron battery monitor and MPPT solar charge control

[2019-11-04 20:16] ptitzler opened #77 "Migrate to max-training-framework package"
Replace the currently installed training framework files with https://github.com/ibm/max-training-framework

[2019-11-07 19:17] #77 closed

[2019-11-12 00:26] bdwyer2 opened #79 "Add test for threshold"

[2019-11-12 00:28] bdwyer2 commented on #72
Hi @corvy if you change `FROM codait/max-base:v1.1.3` to `FROM codait/max-base:arm-arm32v7-v1.3.0` in the Dockerfile and `tensorflow==1.12.2` to `tensorflow==1.13.1` in `requirements.txt` you should be able to run this model on a Raspberry Pi. I've tested this on a Raspberry Pi 4 and it works

[2019-11-12 11:21] corvy commented on #72
Ok, I will give it a go :) Thanks!

[2019-11-12 15:36] corvy commented on #72
It works! :) Just created an image with your suggested changes and uploaded to the docker hub registry.

https://hub.docker.com/repository/docker/sbarmen/max-object-detector

Note I had to pull from console on portainer. Timeout problem? Took 10-15 minutes to pull it. This is a working solution for me! Thanks @bdwyer2  👍

<img width="1314" alt="Screenshot 2019-11-12 16 28 06" src="https://user-ima

[2019-11-12 15:36] #72 closed

[2019-11-12 17:57] bdwyer2 commented on #72
Glad you got it working. We hope to iron out the bugs and have an official build soon.

[2019-11-12 19:55] corvy commented on #72
Perfect 👍 we should maybe consider a model specifically for low performance systems with less resource requirements. I am looking forward to trying some of the pretrained models. Right now it uses 10-15 seconds and for instance restrictions to only detection of humans would perhaps reduce the processing time?

[2019-11-13 23:02] ptitzler opened #81 "Forward fit MAX-Training-Skeleton changes"
See https://github.com/IBM/MAX-Training-Skeleton/training:
 - rename `setup_max_model_training` -> `setup_max_model_training.py`
 - rename `train_max_model` -> `train_max_model.py`
- update references in `/training/README.md`

[2019-11-14 22:06] #81 closed

[2019-11-14 23:20] bdwyer2 commented on #72
You can now pull directly from docker hub
[code]

[2019-11-15 06:54] corvy commented on #72
Grand @bdwyer2. Will you keep updating this going forward?

[2019-11-15 08:43] xuhdev commented on #72
We have set up CI. I think we will in the foreseeable future.

[2020-01-10 18:05] ptitzler opened #87 "Update training command to resolve Windows issue"
Model training fails if the training job is submitted on Microsoft Windows due to a permission issue, which is caused by a limitation of the ZIP utility which drops the `x` bit when the training archive is assembled.

To resolve the issue change https://github.com/IBM/MAX-Object-Detector/blob/master/training/max-object-detector-training-config.yaml#L36 to read `command: chmod +x *.sh && ./train-ma

[2020-01-10 20:45] #87 closed

[2020-01-20 17:06] henrikmatzen opened #92 "Geo support other then US-South for training"
I tried your training readme.md with us-south region for ml instance and buckets. But when I change it to eu-de I run into errors. Other regions can be very important as some projects can have geo restrictions.

[2020-01-20 19:05] bdwyer2 commented on #92
Hi @henrikmatzen, you can also download the files from our content delivery network. I've opened a PR to update the readme.

[2020-01-20 22:22] xuhdev commented on #92
@henrikmatzen The link should work now. Feel free to try again

[2020-01-21 08:16] henrikmatzen commented on #92
I think this was a miss understanding. When you follow your instructions at https://github.com/IBM/MAX-Object-Detector/tree/b1104edf14ee21f8bdfd8c1d02071a425da01939/training and setup a ML instance in geo us-south the training starts successfully. But when you create a ML instance in eu-de you run into following error:
`watson_machine_learning_client.wml_client_error - WARNING - Failure during tra

[2020-01-21 08:32] MLnick commented on #92
cc @ptitzler @SSaishruthi @kmh4321

[2020-01-21 18:25] xuhdev commented on #92
I guess this is the faulty line:

https://github.com/IBM/MAX-Object-Detector/blob/b1104edf14ee21f8bdfd8c1d02071a425da01939/training/max-object-detector-training-config.yaml#L50

[2020-01-21 20:10] henrikmatzen commented on #92
I already changed it. To overcome the geo issue for buckets I first needed to change
https://github.com/IBM/MAX-Training-Framework/blob/master/max_training_framework/utils/cos.py#L39

This creates the .zip but then I get the error described in my post above.

[2020-01-21 20:49] xuhdev commented on #92
Hmm... Any idea we can remove the redundancy in storing these URLs?

[2020-01-22 20:46] ptitzler commented on #71
Fixed by https://github.com/IBM/MAX-Object-Detector/pull/89

[2020-01-22 20:46] #71 closed

[2020-01-22 23:14] ptitzler commented on #92
@henrikmatzen I'll take a look what it'd take to support a) cross regional and b) regional buckets in different geographies. Trying to remember why we couldn't get regional buckets (which `eu-de` is) to work in the first place and therefore settled on cross regional support for the first release...

[2020-01-23 00:15] xuhdev opened #94 "The URL of this repo points to the web app. Is this intended?"
The URL of this repo is https://github.com/IBM/MAX-Object-Detector-Web-App . Is this intended? Others seem to be pointing to the MAX website.

[2020-01-23 02:41] ptitzler commented on #94
Fixed now to maintain consistency! (Same for https://github.com/IBM/MAX-Image-Caption-Generator)

[2020-01-23 02:41] #94 closed

[2020-01-23 07:41] henrikmatzen commented on #92
Thanks a lot. Now we have the confirmation that the machine learning service does not support DLaaS in EU-DE. Not sure how to deal which such an issue. I think as you cannot change it we should close it?

[2020-01-23 17:42] ptitzler commented on #92
Short analysis:
 - The Watson Machine Learning Service on IBM Cloud only supports deep learning in the `us-south` and `eu-gb` location. Therefore you will not be able to train this model in your desired location.

That said, there is still value in supporting model training in the `eu-gb` Watson Machine Learning location (and storing data in COS instances that are geographically close), so we are

[2020-01-24 07:55] henrikmatzen commented on #92
It is also possible to use a regional bucket like eu-de in the yaml. The packaging with the provided scripts inside the training folder wont work by default but you can comment out the section that tries to read the bucket information.

[2020-01-24 07:55] #92 closed

[2020-03-22 22:45] baqwas opened #113 "Extended support for Raspberry Pi 3"
Hello!

My Raspberry Pi has the following characteristics:

[code]
I'm not sure where your image is intended to support this older model. I do have **TensorFlow** installed on this computer. Could I run some scripts to build the image myself? :)

Also, I noticed that the version of python being used supposedly v2. Is there any support for v3?

These are not issues, _per se_, but clearly roadblocks

[2020-03-23 16:51] xuhdev commented on #113
Hi @baqwas , thanks for trying out. At this moment, we have not tested on Raspberry Pi 3, but the current image in theory should also work on Raspberry Pi 3. Please let us know whether it works :)

And we do use Python 3, not Python 2. Where did you get the hint that we use Python 2? Just to confirm that we do not misuse the Python version under a certain circumstance.

[2020-03-24 14:51] baqwas commented on #113
Hello @xuhdev, please attribute my comments as **operator inexperience**. All the steps leading to deploying the docker image (on RPi3) worked. There was minor suggestion regarding a deprecated function but it was not a roadblock.
The Swagger page was displayed in due course. Of course, I'm invoking the headless RPi3 (for tutorial purposes now) from an Ubuntu desktop with Firefox. I believe that i

[2020-03-24 14:51] #113 closed

[2020-03-24 15:14] baqwas commented on #113
Confirming that the solution worked on Raspberry Pi 3B+ using the test case provided in the article by @xuhdev:
[code]
My next foray will be to use the solution with a graphical user interface. Once again many, many thanks for providing a solution that is truly _portable_ - seems simple but in reality requires a lot of subtle design/development explicitly (as well as _implicitly_ through experienc

[2020-03-24 16:29] ptitzler opened #115 "Document annotation file format in data prep instructions and sample data dir"
http://cocodataset.org/#format-data

[2020-03-24 17:55] xuhdev commented on #113
Glad it worked -- my pleasure!

[2020-03-26 16:31] ptitzler opened #118 "Add sample image(s) for custom-trained model demo purposes"
The sample training data can be used to train the model to recognize pens and robots. We should add an image to `samples` that users can use to verify that the custom-trained model now recognizes a new class of objects.

[2020-03-27 15:53] ptitzler opened #120 "/train-max-model.sh doesn't catch training errors"
Need to check return code in https://github.com/IBM/MAX-Object-Detector/blob/master/training/training_code/train-max-model.sh#L43

[2020-03-27 16:36] ptitzler opened #121 "model training fails"
training log file:
[code]

[2020-03-27 16:36] ptitzler commented on #121
See also #120

[2020-03-27 16:53] ptitzler commented on #121
Root cause: https://github.com/IBM/MAX-Object-Detector/blob/e8579d3e40e0de5eff32db8b82dca71f34fa1242/training/training_code/data/prepare_data_object_detection.py#L159

The code is attempting to download from a non-existing development bucket:     download_base = 'https://max-assets-dev.s3.us-south.cloud-object-storage.' \
                    'appdomain.cloud/max-object-detector/1.0.0/'

[2020-03-27 17:30] #120 closed

[2020-03-27 20:33] #121 closed

[2020-03-31 13:20] cezantedeschi opened #124 "Deployment fails on Kubernetes 1.16+ : no matches for kind "Deployment" in version "extensions/v1beta1""
I was following this document Deploy "MAX models to the cloud with Kubernetes"  instructions
https://developer.ibm.com/tutorials/deploy-max-models-to-ibm-cloud-with-kubernetes/

and I could not execute this command on step 3
	3-Apply the configuration file to your Kubernetes cluster.
	Again, replace the max-object-detector.yaml with the .yaml file corresponding to your model. The following command

[2020-03-31 16:01] #118 closed

[2020-03-31 19:27] ptitzler commented on #124
Environment information for ^^
[code]

[2020-04-01 15:01] ptitzler commented on #124
Problem summary: Deployment won't work on Kubernetes 1.16+ because `extensions/v1beta1` is no longer serviced as called out in  https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/:

We will update the deployment configuration file to resolve the issue, which is not model or platform specific.

[2020-04-02 15:45] ptitzler opened #126 "Docker: camera cannot be used in embedded sample application"
The console log contains the following error message if a browser is used that requires a secure context to access `navigator.mediaDevices` as documented here https://developer.mozilla.org/en-US/docs/Web/API/Navigator/mediaDevices

[code]

[2020-04-07 10:56] corvy opened #128 "Node-Red with Object Detector only for humans"
Hello, I have set up the MAX Object Detector Raspberry Pi docker container and it works perfect. The usage is for a security surveillance setup in my boat, and I am basically only interested in detecting persons.

Can I, using the Node-Red flow, be able to filter out only detections with persons? I get some false-positives and would like to remove these. I am not interested in "teddy bear" or "TV"

[2020-04-07 15:33] ptitzler commented on #128
@corvy you sure can! While the object detector node does not support filtering itself you can add a `function` node that does the work for you:

![image](https://user-images.githubusercontent.com/13068832/78688185-d9606200-78a9-11ea-8fb5-c2ea18f07111.png)

The sample function node inspects the message that the Object Detector returns. If at least one object of type `person` is detected, a message

[2020-04-07 15:48] ptitzler commented on #128
If the sample image you've attached is somewhat representative you might have to lower the threshold (0.7 is the default = 70% confident that an object is what the model believes it is) to pick up objects that the model is less certain about.

![image](https://user-images.githubusercontent.com/13068832/78690392-36f5ae00-78ac-11ea-8758-272413f9fc8d.png)

[2020-04-07 16:54] corvy commented on #128
Thank you @ptitzler 👍👍👍

[2020-04-08 15:07] ptitzler commented on #128
You are welcome. If the solution works for you feel free to close the issue. Not sure how well the model can detect people in your video feed. If the results are really bad you could train the model using your own images. However, that's a bit labor intensive because you'll have to collect a bunch of representative images from your video feed and annotate them by drawing bounding boxes around peop

[2020-04-10 09:00] corvy commented on #128
Thanks @ptitzler, just updated my flow and tested it. Your function node did not pass-through the data so I added it late in my flow just before alerting and that worked just fine. Thanks alot!

[2020-04-10 09:00] #128 closed

[2020-04-13 09:39] corvy opened #130 "Running Object Detector on older AMD x86 machine"
Hello, is there a way to run the detector on an older x86 machine? I am trying to reuse an older machine in my house to do object detection and camera recordings. But I cannot get neither :latest nor :v1.3.0 tags to run.

[code]

This is my CPU information:

[code]

[2020-04-13 18:21] xuhdev commented on #130
Could you try to build the image? That might work. Clone the repo and run:

    docker build -t max-object-detector .

[2020-04-14 07:01] corvy commented on #130
Thanks for the tip @xuhdev

Tried to compile, that worked, but still I get an error. Tried to run with "docker events":

[code]

[2020-04-14 07:12] corvy commented on #130
Looks like the illegal instruction is a problem on tag latest.

How could I run a build on v1.3.0? Do I check out a specific version of the github rep?

[2020-04-14 07:26] corvy commented on #130
Found a way to checkout v1.3.0 so I will continue to test.

[code]

[2020-04-14 08:56] xuhdev commented on #130
This is probably because `codait/max-base` is based on x64. You probably have to also rebuild an i686 version of that: https://github.com/IBM/MAX-Base/blob/master/Dockerfile

Actually, to do that, you also have to rebuild the miniconda3 base on i686: https://hub.docker.com/r/continuumio/miniconda3/dockerfile (a 386 version of the base is [available](https://hub.docker.com/_/debian?tab=tags))

[2020-04-16 13:59] danps1 opened #131 "Illegal instruction (core dumped)"
When I try to use :latest either via ```docker run``` or via ```docker build``` is get the following error and no further detail...
```Illegal instruction (core dumped)```
The operating system is Ubuntu 18.04LTS with not much other than docker CE installed, and it is sitting on a Proxmox VM
Are there any CPU requirements that may not be met due to Proxmox abstracting them maybe?

[2020-04-16 15:24] bdwyer2 commented on #131
Hi @danps1, is this an x86 or arm machine?

Can you please run `cat /proc/cpuinfo` and share the output?

It's possible that the version of tensorflow we are using is not compatible with your CPU (https://github.com/tensorflow/tensorflow/issues/17411)

[2020-04-16 16:48] corvy commented on #131
Try to update

CPU: host

in your VM config

[2020-04-16 17:09] corvy commented on #130
Version 1.1.0 worked. Strange.

[code]

[2020-04-16 20:37] danps1 commented on #131
Hi @bdwyer2
I mapped 12 cores to this VM, so here is the info from just 1 of them, as they're all the same...
[code]

[2020-04-16 20:47] danps1 commented on #131
Hi @corvy
I set CPU=host on Proxmox, but unfortunately, the same thing...
[code]

[2020-04-16 20:49] danps1 commented on #131
Here is the CPU info showing through with CPU=host set...
[code]

[2020-04-16 21:09] danps1 commented on #131
So I started stepping back versions of MAX-Object_detector, and both ```1.3.0``` and ```1.2.0``` don't work, but give a little more information...
[code]
However, ```v.1.1.0``` seems to be working!

[2020-04-16 21:49] corvy commented on #131
Yes, i have the same issue on an AMD Athlon computer of mine. 🙈

[2020-04-17 06:09] corvy commented on #130
I think this iss boils down to AVX. This container looks promising, but I was wondering if it would be possible to get an official container with no AVX?

https://hub.docker.com/r/nklint/max-object-detector-no-avx

[2020-04-17 17:43] xuhdev commented on #130
If this is an AVX issue, then it seems like we have to rebuild TensorFlow by ourselves (or perhaps use [a service (by human)](https://github.com/yaroslavvb/tensorflow-community-wheels/issues?q=is%3Aissue+is%3Aopen+no+avx+). Then you may change tensorflow in the [requirement file](https://github.com/IBM/MAX-Object-Detector/blob/master/requirements.txt).

@bdwyer2 Do you think we should provide such

[2020-04-20 22:01] ajbozarth commented on #126
Making a note here after a convo with @ptitzler over slack. This error is thrown by all browsers (in some manner) when hitting the http url of the web app. This does not occur if you hit the https url. Users can bypass this in their browser using developer tools/settings though (method differs by browser). This is a security feature and cannot be solved "server-side" in the web app code, only "cli

[2020-04-21 16:12] #124 closed

[2020-04-21 16:12] ptitzler commented on #124
Resolved in #129

[2020-04-21 16:16] ptitzler opened #132 "Model training fails due to pip install failures"
[code]

[2020-04-22 22:04] xuhdev commented on #131
Probably because [MAX Object Detector v1.1.0 uses TensorFlow 1.5.0](https://github.com/IBM/MAX-Object-Detector/blob/v1.1.0/requirements.txt), which was officially built without AVX support: https://github.com/tensorflow/tensorflow/issues/19584#issue-326844294 (TensorFlow 1.6.0 and up are built with AVX)

[2020-10-14 13:43] fabsenet opened #151 "POST returns sometimes HTTP code 500"
I have a nodered flow which fetches screenshots from security cameras and POSTing them to this docker image running in docker under windows. most of the time, it just works as expected and other times it returns an error 500.

I cannot even tell whether I am doing it somehow wrong or if there is a bug in this docker container. Can you guys help me somehow? Where should I go from here?

The docker

[2020-10-14 16:26] bdwyer2 commented on #151
Hi @fabsenet, how many request per second are you running against this container?

[2020-10-14 18:38] fabsenet commented on #151
At most one. It is more like one every 5 seconds or much more. It only
takes an image if movement is detected and we have only 3 cams

[2020-10-15 11:49] MLnick commented on #151
@fabsenet do you know if the error is coming from one of the cameras in particular? It looks to me like an issue with the encoding of the input image bytes. This would only make sense if somehow one (or two) of the 3 cameras was doing something different somehow.

What is the image format coming from the camera screenshots? Are they all identical? Is there any pre-processing step in the flow that

[2020-10-15 20:49] xuhdev commented on #151
Actually, I think this report exposed another issue in the object detector: It's returning 500 if the input file is not an image. We probably want to return 400.

[2020-10-16 05:09] MLnick commented on #151
Yes, we should return `400` in that case for sure; thanks!

[2020-10-16 11:27] fabsenet commented on #151
I investigated further and the source for the image (blueiris) is itself sometimes returning http status 503. My flow does not check this code but it used the payload, which is an empty array then. so I understand this now better. The object detection is not the problem.

Sorry to take your time :-(

[2020-10-16 11:27] #151 closed

[2020-10-16 12:06] MLnick commented on #151
@fabsenet thank you for opening the issue. It did highlight that we need to harden the error handling and should return a `400` rather - this would have told you that the issue was with your input. So thanks again, it is helpful for us!

[2020-10-19 23:15] #130 closed

[2020-10-19 23:15] #131 closed

[2020-11-14 04:10] gzhhong opened #157 "detecting result running on openshift is not same as the result running on Local Mac"
Hello, I deploy the max-object-detector on openshift, with the resource request as below
          resources:
            requests:
              cpu: "300m"
              memory: "2500Mi"
            limits:
              cpu: "2"
              memory: "3000Mi"

The issue is when I send request to the detector, it can return status 200OK, but predictions result array is empty[], when I running th

[2020-11-14 04:16] bdwyer2 commented on #157
Hi @gzhhong, this model requires at least 2 CPU cores and 2 GB of RAM and you seem to meet the requirements.

If the model fails it's not supposed to return 200.

Can you try running the model in openshift with one of the provided sample images? https://github.com/IBM/MAX-Object-Detector/tree/master/samples

[2020-11-14 07:17] gzhhong commented on #157
Hello Brendan,
Thanks for the answer. To be more clear, I have test some small images, like image size below 100K, and the predications works fine, it will return prediction result array like {\"status\": \"ok\", \"predictions\": [{\"label_id\": \"18\", \"label\": \"dog\", \"probability\": 0.9559268951416016, \"detection_box\": [0.041928112506866455, 0.12378579378128052, 1.0, 0.9217541813850403]}]

[2020-11-14 07:21] gzhhong commented on #157
Hello Brendan,
Thanks for the answer. To be more clear, I have test some small images, like image size below 100K, and the predications works fine, it will return prediction result array like:

{"status": "ok", "predictions": [{"label_id": "18", "label": "dog", "probability": 0.9559268951416016, "detection_box": [0.041928112506866455, 0.12378579378128052, 1.0, 0.9217541813850403]}]},

but If I use

[2020-11-14 09:29] gzhhong commented on #157
Hello Brendan,

I build the docker image on my local mac and I think I am using the faster_rcnn model, on the openshift environment I use the default model ssd mobilenet, so I do another test:

on my local mac I execute "docker run -it -p 5000:5000 quay.io/codait/max-object-detector", this command suppose to launch the same model (default one) on local mac as on openshift. Then I test the model wi

[2020-11-14 19:11] bdwyer2 commented on #157
Yep, you can use `quay.io/codait/max-object-detector:arm-arm32v7-latest-faster_rcnn_resnet101` or `quay.io/codait/max-object-detector:intel-x86_64-latest-faster_rcnn_resnet101` depending on your CPU

[2020-11-15 01:28] gzhhong commented on #157
@bdwyer2 , I confirm it is not a bug, please close the issue. Thank you for your quick answer!

[2020-11-15 01:52] #157 closed

[2020-11-15 11:09] gzhhong commented on #157
Got it, thank you so much!

Brendan Dwyer <notifications@github.com> 于2020年11月15日周日 上午3:11写道：

[2020-11-16 20:39] gzhhong commented on #157
Hello Brendan,

I want to use the max-object-detector to detect if there are porno content
in the picture, include part of the body, i.e. nipple, penis or etc. I test
some pictures on the detector but it seems the detector hasn't such
knowledge, is there any detector image already trained by such pictures? or
I have do by myself.

Thank you so much!

James

Brendan Dwyer <notifications@github.com>

[2020-11-16 21:04] bdwyer2 commented on #157
Hi James,

This model was not trained on those kinds of images, however if you have a dataset you can follow the instructions [here](https://github.com/IBM/MAX-Object-Detector/tree/master/training) to train this model yourself

[2021-04-26 22:31] csantanapr opened #163 "Dockerfile doesn't pass linting using hadolint"
We are working on creating Tekton Pipelines for the application.

One of the Tekton tasks link the Dockerfile using [hadolint](https://github.com/hadolint/hadolint)

Here are the findings in the task that should be fixed or ignore via comment in Dockerfile
[code]

[2021-04-26 23:51] SSaishruthi commented on #163
FYI: I am working with @csantanapr in this experiment

[2021-04-27 02:06] csantanapr opened #166 "swagguer UI doesn't work on OpenShift using secure ssl/https route"
Deploy the container and expose it using OpenShift secure route.

I tested this on IBM Red Hat OpenShift Kubernetes Services (ROKS)

When accessing the route the web UI for swagger doesn't load

The UI tries to load the spec swagger.json via HTTP and not HTTPS, and the browser doesn't allow crossing requests once it starts in https

![image](https://user-images.githubusercontent.com/1094878/116173

[2021-04-27 02:10] csantanapr commented on #166
The problem is with the swaggerui config.
The model predict works fine, here is a test I did

[code]

![](https://github.com/IBM/MAX-Object-Detector/raw/master/samples/dog-human.jpg)

[2021-04-27 15:34] bdwyer2 commented on #163
Maybe some of those warnings should be fixed?

For example:
`Dockerfile:37 DL3042 warning: Avoid use of cache directory with pip. Use `pip install --no-cache-dir <package>`
this could reduce the size of the image

[2021-05-02 14:09] Etshhh commented on #132
The error is basically telling you that you don't have the 'Cython' module, so all you have to do is install it.
In the terminal, just type
`pip install Cython`
Hope this solves your problem.

[2021-05-07 05:17] csantanapr commented on #166
With the recent changes this is fix now
![image](https://user-images.githubusercontent.com/1094878/117401148-024e8e80-aed2-11eb-937e-28ff14ae85a0.png)

[2021-05-07 05:17] #166 closed

[2021-05-07 05:24] csantanapr opened #168 "Image has CVE security issues"
While using the [Cloud Native Toolkit](https://cloudnativetoolkit.dev/) to run a pipeline we use [trivy](https://github.com/aquasecurity/trivy) to scan the images

And the report came back with 6 critical CVEs to address
[code]

The 6 critical issues are the following that need to be fix
[code]

[2021-05-07 05:28] csantanapr opened #169 "Can we make swagger ui be able to upload a picture?"
I would like to demo the app by using the swagger UI and upload an image using the button/form

![image](https://user-images.githubusercontent.com/1094878/117401989-90774480-aed3-11eb-97fa-5c76af21f58d.png)

[2021-05-07 05:31] SSaishruthi commented on #166
Thanks @csantanapr

[2021-05-07 05:53] SSaishruthi commented on #169
@csantanapr Were you able to upload image by clicking on `Choose File` ?

[2021-05-07 18:24] bdwyer2 commented on #169
@csantanapr it should work, which web browser are you using?

[2021-05-10 17:33] xuhdev commented on #169
Did you click the "try it out" button? It should work after you click that button.

[2021-05-12 20:16] #168 closed

[2021-05-25 00:23] csantanapr commented on #168
Hi
I just ran the trivy scanner now and is still finding same 6 Critical issues

[code]

[2021-05-25 00:24] csantanapr opened #171 "Image has security Critical issues"
Related to #168

Hi
I just ran the trivy scanner now and is still finding same 6 Critical issues

[code]

[2021-05-25 00:25] csantanapr commented on #169
Yes I click Try it Out and then it works, it would be good if its enable by default

[2021-05-25 00:25] #169 closed

[2021-05-25 01:37] xuhdev commented on #171
I check out that these are already the latest package available on the underlying Debian system (see the "buster" line):

- https://security-tracker.debian.org/tracker/CVE-2021-20231
- https://security-tracker.debian.org/tracker/CVE-2021-3177
- https://security-tracker.debian.org/tracker/CVE-2021-20232

There's really not much we can do until upstream has uploaded fixes.

[2021-08-20 16:59] csantanapr opened #174 "Make all MAX example repos templates to be compatible with Cloud Native Toolkit workflows"
I got feedback from @mjperrins that while using the [Cloud Native Toolkit](https://cloudnativetoolkit.dev/) typically we ask users to click the green "template" button on the github repository to get started by creating their own copy of the example.

Could you make all the MAX examples in the IBM github org templates enabled?
This would not have any impact on how you collaborate with forks, the s

[2021-08-20 22:41] SSaishruthi commented on #174
Thanks @csantanapr

@xuhdev will take care of the enablement

Thanks, Hong

[2021-08-20 22:41] xuhdev commented on #174
Done! Now you should be able to use this repo as a template.

[2021-08-20 22:41] #174 closed

[2021-09-23 17:55] csantanapr commented on #171
I was checking again today and the image being used has 1 security critical CVE

[code]

[2021-09-23 21:35] #171 closed

[2021-09-23 21:35] xuhdev commented on #171
Thanks, we have pushed the fix. Let us know if you have more concerns!

[2021-09-24 04:31] xuhdev commented on #163
Could you try again with the latest version?

[2021-09-24 04:31] xuhdev commented on #132
Closing now. We have removed training from the repo

[2021-09-24 04:31] #132 closed

[2021-12-24 11:37] Arturs opened #181 "Docker build error"
Getting error when building Docker image:
wget: unable to resolve host address ‘max-cdn.cdn.appdomain.cloud’

[2022-01-03 09:21] michaeldibse commented on #181
Hey mate,
I deleted the highlighted lines in the dockerfile and then it just worked fine.
Cheers Michael

<img width="869" alt="Bildschirmfoto 2022-01-03 um 10 14 25" src="https://user-images.githubusercontent.com/70176713/147915253-043435f5-cdc8-4d0c-bc9c-cff1989cbca5.png">